.data-view-container {
  margin-top: 40px;

  & .create, & .deleteList {
    display: inline-block;
    color: #99f;
    width: 95px;
    text-decoration: none;
    line-height: 2em;
    text-align: center;
    margin-left: 0.6em;
    font-size: 1em;
    border: 1px solid #99f;
    &:hover {
      border-color: #eee;
    }
  }
  & .limitGroup{
    border: 1px solid #aaa;
    padding: 7px;
    /* Chrome, Safari, Edge, Opera */
    & > input::-webkit-outer-spin-button,
    & > input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    & > input[type=number] {
      -moz-appearance: textfield;
    }
    & > input{
      border: none;
    }
  }
  & .limit {
    display: inline-block;
    color: #666;
    & > span{
      vertical-align: middle;
    }
    .Select {
      display: inline-block;
      text-align: left;
      width: 95px;
      margin-right: 20px;
      vertical-align: middle;
      font-size: 1em;
      & > .Select-control {
        box-sizing: border-box;
        height: 36px;
        border: 1px solid #d9d9d9;
        border-radius: 0;
        color: #666;
        .Select-multi-value-wrapper {
          max-height: 16em;
          overflow: auto;
          margin-bottom: -8px;
        }
        .Select-value span {
          color: #666;
        }
        .Select-input {
          height: 36px;
        }
      }
      &.is-focused > .Select-control {
        border-color: #3397ff;
        box-shadow: none;
      }
    }
    input[type=submit]{
      width: 95px;
      background: none;;
      font-size: 1em;
      border: 1px solid #aaa;
      margin-right: 20px;
    }
  }
  & .listHeader{
    margin-top: 60px;
    font-size: 0.9em;
    & .searchCount {
      float: left;
      padding: 10px;
    }

    & > button {
      display: inline-block;
      color: #f33;
      width: 95px;
      text-decoration: none;
      line-height: 2em;
      text-align: center;
      margin-left: 0.6em;
      font-size: 1em;
      background: none;;
      border: 1px solid #f33;
      &:hover {
        border-color: #eee;
      }
    }
  }
  & > .selected {
    font-size: 0.9em;
    margin-top: 1em;
    & > .header {
      display: inline-block;
      font-weight: bold;
      line-height: 2.75em;
    }
    & > .content {
      display: inline-block;
      margin-left: 0.5em;
    }
    & .button {
      font-size: 0.9em;
      text-align: center;
      line-height: 2.5em;
      height: 2.75em;
      margin: 0 0.2em;
    }
  }
  & > .footer {
    // font-size: 0.9em;
    margin-top: 1em;
    display:block;
    line-height: 1.75em;
    & > .pagination {
      display: table;
      list-style-type: none;
      padding: 0;
      margin: auto;
      & > li {
        display: inline-block;
        padding: 0 0.2em;
        & > a {
          display: inline-block;
          width: 1.5em;
          text-align: center;
          color: #666;
          &:hover {
            color: #999;
          }
        }
        &.selected > a {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}
